<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


	<bean id="loginSuccessAction" class="edu.thu.rlab.action.user.LoginSuccessAction" >
		<property name="userService" ref="userService"></property>
	</bean>

	<bean id="createCourseAction" class="edu.thu.rlab.action.course.CreateCourseAction" scope="prototype">
		<property name="courseService" ref="courseService" />
	</bean>
	
	<bean id="listCourseAction" class="edu.thu.rlab.action.course.ListCourseAction">
		<property name="courseService" ref="courseService" />
	</bean>
	
	<bean id="selectExperimentAction" class="edu.thu.rlab.action.experiment.SelectExperimentAction" scope="prototype">
		<property name="experimentService" ref="experimentService"></property>
	</bean>
	<bean id="listExperimentAction" class="edu.thu.rlab.action.experiment.ListExperimentAction">
		<property name="experimentService" ref="experimentService"></property>
	</bean>
	<bean id="judgeByTeacherAction" class="edu.thu.rlab.action.experiment.JudgeByTeacherAction" scope="prototype">
		<property name="experimentService" ref="experimentService"></property>
	</bean>
	<bean id="judgeBySystemAction" class="edu.thu.rlab.action.experiment.JudgeBySystemAction">
		<property name="experimentService" ref="experimentService"></property>
	</bean>
	<bean id="getCpuVariablesAction" class="edu.thu.rlab.action.experiment.cpu.GetCpuVariablesAction" scope="prototype">
		<property name="experimentService" ref="experimentService"></property>
	</bean>	
	<bean id="saveCpuVariablesAction" class="edu.thu.rlab.action.experiment.cpu.SaveCpuVariablesAction" scope="prototype">
		<property name="experimentService" ref="experimentService"></property>
	</bean>
		
	<bean id="createUserAction" class="edu.thu.rlab.action.user.CreateUserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="getProfileAction" class="edu.thu.rlab.action.user.GetProfileAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="updateProfileAction" class="edu.thu.rlab.action.user.UpdateProfileAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>		
	<bean id="modifyPasswordAction" class="edu.thu.rlab.action.user.ModifyPasswordAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="batchImportStudentAction" class="edu.thu.rlab.action.user.BatchImportStudentAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	
		
	<bean id="connectDeviceAction" class="edu.thu.rlab.action.device.ConnectDeviceAction" scope="prototype">
		<property name="deviceService" ref="deviceService"></property>
	</bean>

	<bean id="disconnectDeviceAction" class="edu.thu.rlab.action.device.DisconnectDeviceAction" scope="prototype">
		<property name="deviceService" ref="deviceService"></property>
	</bean>	
		
	<bean id="executeDeviceCmdByUserAction" class="edu.thu.rlab.action.device.ExecuteDeviceCmdByUserAction" scope="prototype">
		<property name="deviceService" ref="deviceService"></property>
		<property name="directory" value="/download/"></property>
	</bean>
	<bean id="executeDeviceCmdByAdminAction" class="edu.thu.rlab.action.device.ExecuteDeviceCmdByAdminAction" scope="prototype">
		<property name="deviceService" ref="deviceService"></property>
	</bean>
	
	<bean id="uploadFileAction" class="edu.thu.rlab.action.util.UploadFileAction" scope="prototype">
		<property name="directory" value="/upload/"></property>
	</bean>
	
	<bean id="downloadFileAction" class="edu.thu.rlab.action.util.DownloadFileAction"/>
	
	<bean id="listDeviceAction" class="edu.thu.rlab.action.device.ListDeviceAction">
		<property name="deviceService" ref="deviceService"></property>
	</bean>
	
	
	<bean id="uploadTestAction" class="edu.thu.rlab.action.test.UploadTestAction">
		<property name="directory" value="/upload/"></property>
	</bean>
	
	
</beans>